# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp

# Swift Package Manager
.build/
.build_cache/
.cache/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
.swiftpm/

# Xcode DerivedData / UserData
DerivedData/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.app
